*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#takrorlash{
    width: 115px;
    border-radius: 10px;
    height: 40px;
    color: white;
    background-color: black;
    border-color: white;
    margin: 10px;
    transition: .5s;
}
h3{
    font-family: fantasy
}
body{
    background-image: url(/photo_2022-12-09_20-54-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
}
.container{
    width: auto;
    height: auto;
    background-color: rgba(74, 32, 111, 0.322);
    box-shadow: 1px 2px 2px 2px #dacdef;
    cursor: pointer;
}
button{
    
    width: 115px;
    border-radius: 10px;
    height: 40px;
    color: white;
    background-color: black;
    border-color: white;
    margin: 10px;
    transition: .5s;
    align-items: center;
    justify-content: center;
    


}
a{
    text-decoration: none;
    font-size: 18px;
}
button:hover{
    transform: scale(1.2);
}
h2{
    width:auto;
    height:auto;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    background-color: white;
}
.NATIJA{
    font-family: fantasy;
}
#natija{
    text-align: start;
    font-size: 22px;
}
#natija1{
    text-align: center;
    font-size: 22px;

}

/* .savollar1, .savollar2, .savollar3, .savollar4, .savollar5, .savollar6, .savollar7, .savollar8, .savollar9, .savollar1, .savollar10, .savollar11 {
display: flex;

} */


@media only screen and (max-width: 320px)
{
    .savollar1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .savollar2{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .savollar3{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .savollar4{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}